h1{
    color: blue;
    background-color: aqua;
}

/* Color Property 
Used to set the color of foreground. 

Ways to write the color: 
1- directly write the name
2- write the # code
3 - write the rgb value*/
p {
    color: red;
    background-color: cornsilk;
}

button{
    color: gold;
    background-color: black;
}