/* div {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 129, 0, 0.512);
    margin: 0 auto;
    margin-top:10px;
    transition: margin-top 2s ease-in 0.2s;
}

/* #opacity {
    background-color: #ffa511;
    opacity: 0.5;
} */

/* div:hover {
    background-color: black;
    border-radius: 50%;
    margin-top: 400px;
    background-color: pink;
} */ 

/* section {
    margin-top: 100px;
} */

/* div {
    width: 400px;
    height: 200px;
    text-align: center; //commented
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
    box-shadow: 2px 2px 8px yellow;//commented
    background-image: url("eugene-golovesov-2yfK4RTm6LU-unsplash.jpg");
    background-size: cover;
} */

/* div:nth-of-type(2n)
{
    background-color: #f7db6a;
}

div:nth-of-type(3n)
{
    background-color: #ebb02d;
}

#one {
    transform :rotate(45deg);
}

#two {
    transform : scale(0.5);
} */

div {
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}
#static {
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}

#relative {
    background-color: yellow;
    position: relative;
    top: 100px;
    left: 100px;
}